/* À¥ ÆùÆ® */
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ font-family: ONE-Mobile-Title }

header{
	border-bottom: solid 1px #eeeeee; 
	line-height: 1;
}
.header-logo{
	font-size: 2.25rem;
	
}
.header-topmenu{
	font-size: 0.25rem;	
}
.carousel-item img{
	width: 100%;
}
.item{
	font-size: 0.75rem;
	line-height: 150%;
}
.price{
	text-decoration: line-through;
}
.main-footer{
	
	font-size: 0.75rem;
	border-top: solid 1px #eeeeee;
	padding: 3rem;
}




















