@charset "UTF-8";


/* 외부 폰트 */
@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'GongGothicBold';
}
*{
	font-family: '맑은고딕';
}

.header_logo{
	font-family: 'GongGothicBold';
	font-size: 2rem;
}
.header_menu{
	margin-left: 20px;
	color: #999;
}
.carousel-item img{ width: 100%;}

.item .price{
	font-family: 'GongGothicBold';
	font-size: 16px;
}
.pimg:hover {
	transform : scale(1.1);
}


























